doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="stylesheet" href="./style.css")
    script(src="./not-bundle-scripts/vue.js")
    script(src="./not-bundle-scripts/vue-validator.js")
    script(src="./not-bundle-scripts/index.js")
  body
    #sample
      validator(name="vali")
        form(novalidate)

          section
            h2 Text required
            input(type="text" v-validate:name="['required']")
            span.error(v-if="$vali.name.touched && $vali.name.required")  ERORR
